<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calda</key>
	<dict>
		<key>icon</key>
		<string>caldo.png</string>
		<key>id</key>
		<integer>0</integer>
		<key>temp_min</key>
		<integer>16</integer>
		<key>temp_max</key>
		<integer>16</integer>
		<key>date_from</key>
		<string>05-01</string>
		<key>date_to</key>
		<string>10-01</string>
	</dict>
	<key>fredda</key>
	<dict>
		<key>icon</key>
		<string>freddo.png</string>
		<key>id</key>
		<integer>1</integer>
		<key>temp_min</key>
		<integer>-80</integer>
		<key>temp_max</key>
		<integer>15</integer>
		<key>date_from</key>
		<string>01-01</string>
		<key>date_from_2</key>
		<string>10-01</string>
		<key>date_to</key>
		<string>04-31</string>
		<key>date_to_2</key>
		<string>12-31</string>
	</dict>
	<key>calda-fredda</key>
	<dict>
		<key>icon</key>
		<string>caldo_freddo.png</string>
		<key>id</key>
		<integer>2</integer>
		<key>temp_min</key>
		<integer>999</integer>
		<key>temp_max</key>
		<integer>999</integer>
		<key>date_from</key>
		<string>1-1</string>
		<key>date_to</key>
		<string>1-1</string>
	</dict>
</dict>
</plist>
