<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>scarpe</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>15</string>
		<key>icon</key>
		<string>scarpe.png</string>
		<key>category</key>
		<string>calzature</string>
		<key>choice</key>
		<integer>5</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>gonna - gonne</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>12</string>
		<key>icon</key>
		<string>gonna.png</string>
		<key>category</key>
		<string>abiti</string>
		<key>choice</key>
		<integer>4</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>pantalone - pantaloni</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>13</string>
		<key>icon</key>
		<string>pantaloni.png</string>
		<key>category</key>
		<string>abiti</string>
		<key>choice</key>
		<integer>4</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>giacca - giacche</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>2</string>
		<key>icon</key>
		<string>giacca.png</string>
		<key>category</key>
		<string>soprabiti</string>
		<key>choice</key>
		<integer>1</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>cravatta - cravatte</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>14</string>
		<key>icon</key>
		<string>cravatta.png</string>
		<key>category</key>
		<string>accessori</string>
		<key>choice</key>
		<integer>8</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>camicia - camicie</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>3</string>
		<key>icon</key>
		<string>camicia.png</string>
		<key>category</key>
		<string>abiti</string>
		<key>choice</key>
		<integer>3</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>maglietta - magliette</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>4</string>
		<key>icon</key>
		<string>maglietta.png</string>
		<key>category</key>
		<string>abiti</string>
		<key>choice</key>
		<integer>3</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>maglione - maglioni</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>6</string>
		<key>icon</key>
		<string>maglione.png</string>
		<key>category</key>
		<string>abiti</string>
		<key>choice</key>
		<integer>2</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>sciarpa - sciarpe</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>7</string>
		<key>icon</key>
		<string>sciarpa.png</string>
		<key>category</key>
		<string>accessori</string>
		<key>choice</key>
		<integer>8</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>name</key>
		<string>borsa - borse</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>9</string>
		<key>icon</key>
		<string>borsa.png</string>
		<key>category</key>
		<string>accessori</string>
		<key>choice</key>
		<integer>9</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>name</key>
		<string>cappotto - cappotti</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>10</string>
		<key>icon</key>
		<string>cappotto.png</string>
		<key>category</key>
		<string>soprabiti</string>
		<key>choice</key>
		<integer>1</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>name</key>
		<string>completo - completi</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>11</string>
		<key>icon</key>
		<string>completo.png</string>
		<key>category</key>
		<string>abiti</string>
		<key>choice</key>
		<integer>2</integer>
	</dict>
	<key>15</key>
	<dict>
		<key>name</key>
		<string>cappello - cappelli</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string>1</string>
		<key>icon</key>
		<string>cappello.png</string>
		<key>category</key>
		<string>accessori</string>
		<key>choice</key>
		<integer>6</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>category</key>
		<string>accessori</string>
		<key>icon</key>
		<string>cintura.png</string>
		<key>order</key>
		<string>17</string>
		<key>allow</key>
		<string></string>
		<key>name</key>
		<string>cintura - cinture</string>
		<key>choice</key>
		<integer>9</integer>
	</dict>
	<key>19</key>
	<dict>
		<key>name</key>
		<string>felpa - felpe</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string></string>
		<key>icon</key>
		<string>felpa.png</string>
		<key>category</key>
		<string>abiti</string>
		<key>choice</key>
		<integer>2</integer>
	</dict>
	<key>20</key>
	<dict>
		<key>name</key>
		<string>vestitino</string>
		<key>allow</key>
		<string></string>
		<key>order</key>
		<string></string>
		<key>icon</key>
		<string>vestitino.png</string>
		<key>category</key>
		<string>abiti</string>
		<key>choice</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
