<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action_startApp_no</key>
	<string>Benvenuto il WhatDoWear: Puoi iniziare ad aggiungere nuovi vestiti nella sezione: Armadio. Se vuoi disabilitare questo tutorial vai in impostazioni.</string>
	<key>action_addCloth</key>
	<string>Aggiungi il vestito: Da questa maschera puoi modificare l&apos;immagine (zoom, muovi, ruota) e inserire i suoi attributi. Puoi mettere un segnalibro schiacciando sul simbolo nella barra in alto</string>
	<key>action_coverFlow</key>
	<string>Qui puoi vedere tutti gli abiti del tipo selezionato. Nella toolbar in alto puoi selezionare i vestiti catalogati per: il caldo, il freddo, sia caldo che freddo, tutti. Oppure ordinarli per data o preferenza 
            Schiacciando sul tasto + puoi aggiungere un nuovo vestito al tuo armadio</string>
	<key>action_lookTable_no</key>
	<string>In questa tabella puoi vedere i tuoi look catalogati come: sportivi, casual, eleganti. Puoi filtrarli per clima come per i vestiti </string>
	<key>action_lookView</key>
	<string>Crea un look aggiungendo i vestiti presenti nell&apos;armadio. Se fai un doppio click su un vestito puoi ingrandirlo.
            Schiacciando sul pulsante:&quot;tag&quot; o trascinando verso l&apos;alto il look puoi vedere/modificare le sue proprietà</string>
	<key>action_preferiti_no</key>
	<string>Se vuoi aggiungere dei vestiti o look nei bookmark è sufficiente selezionare l&apos;icona &quot;segnalibro&quot; nella toolbar in alto nella scheda del vestito o del look</string>
</dict>
</plist>
