<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action_startApp_no</key>
	<string>Welcome to WhatDoWear: you can start adding new dresses in the section: wardrobe. If you want disable this tutorial go to
        settings</string>
	<key>action_addCloth</key>
	<string>Add a garment: in this panel you can modify the picture (zoom, move, rotate) and insert its properties. You can add a bookmark using the toolbar</string>
	<key>action_coverFlow</key>
	<string>Here you can see the garments by kind. Using the toolbar you can select the garments sorted by season: hot, cold, both or all. Otherwise you can sort them by date or choice. Pushing the + button you can add a new garment into your wardrobe</string>
	<key>action_lookTable_no</key>
	<string>This table show your matchings sorted by sporting, casual, elegant. You can filter the matchings by season</string>
	<key>action_lookView</key>
	<string>Create a matching using the garments from your wardrobe or shake your device! Tap the garment twice to zoom it. Check the matching properties pushing the tag button or dragging it up</string>
	<key>action_preferiti_no</key>
	<string>If you want add a garment or look in bookmark, you can select the bookmark icon in the up toolbar of the garment or look form</string>
</dict>
</plist>
